:root{
    --primary-color:#4b208c;
    --light:#eae6f5;
    --white:#fff;
    --fade:#adacac;
    font-family: "Poppins", sans-serif;
}

*{
    /* background:var(--light); */
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;

}
.container{
    background:var(--light);
}
.landing-page{
    height: 95vh;
    padding-top: 15px ;

    background:var(--light);
    max-width: 1200px;

}
.service-page{
    height: 150vh;
    background: var(--white);
    /* margin: 0;
    padding: 0; */
}
.about-page{
    height: 100vh;
    background-color: var(--light);
}
.contact-page{
    height: 140vh;
    background-color: var(--white);
}
.footer-page{
    /* max-width: 1200px; */
/* height: 50vh; */
}